$column-count: 12;
$word-columns: (
  one two three four five six seven eight nine ten eleven twelve
);

$column-spacing: 30px;
$row-spacing: 30px;
$small-column-spacing: 20px;
$small-row-spacing: 20px;

$breakpoints: (
  'xsmall':  320px,
  'small':   568px,
  'medium':  768px,
  'large':   992px,
  'xlarge':  1200px
);

$container-widths: (
  'small':   540px,
  'medium':  720px,
  'large':   960px,
  'xlarge':  1140px
);


@function gutter( $number ) {
  @return $number / 2;
}
