{%
  set menu = [
    {
      'name': 'color',
      'children': ['core', 'support', 'UI']
    },
    {
      'name': 'typo',
      'children': ['typeface', 'headings', 'body']
    },
    {
      'name': 'UI',
      'children': ['buttons', 'inputs', 'components', 'layout']
    },
    {
      'name': 'assets',
      'children': []
    }
  ]
%}

<aside class="aside is-blue-background-colour xsmall-12 medium-3 column">

  <h4 class="h4 is-bold">
    Kit %%GULP_INJECT_VERSION%%
  </h4>

  <p class="slogen small-text ui-2-color">
    An easy peasy design framework.
  </p>

  <ol class="menu row with-no-gutters">
    {% for category in menu %}
      <li class="category xsmall-4 small-3 medium-12 column with-no-gutters">
        <h5 class="h5 is-capitalize">
          {{ loop.index + '. ' + category.name }}
        </h5>

        {% if category.children %}
          <ul class="sub-categories">
            {% for subCategory in category.children %}
              <li class="sub-category is-capitalize">
                <a href="#{{ subCategory | lower }}" class="ui-2-color">{{ subCategory }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ol>

</aside>
