<div>
  <button type="button" class="btn-primary">
    Register
  </button>
</div>

<div>
  <a href="#" class="btn-secondary">
    Click Me
  </a>
</div>

<div>
  <a href="#" class="btn-link">
    Login
  </a>
</div>
