{%
  set colors = [
    {
      name: 'core',
      swatches: [
        {
          'name': 'Pacific Blue',
          'hex':  '#00A7C7',
          'rgb':  '0 167 199'
        },
        {
          'name': 'Turquoise',
          'hex':  '#42D9C8',
          'rgb':  '66 217 200'
        },
        {
          'name': 'Outer Space',
          'hex':  '#474C4F',
          'rgb':  '71 76 79'
        }
      ]
    },
    {
      name: 'support',
      swatches: [
        {
          'name': 'May Green',
          'hex':  '#4CB944',
          'rgb':  '76 185 68'
        },
        {
          'name': 'USC Gold',
          'hex':  '#FFC800',
          'rgb':  '255 200 0'
        },
        {
          'name': 'Radical Red',
          'hex':  '#EF3360',
          'rgb':  '239 51 96'
        },
        {
          'name': 'Toolbox',
          'hex':  '#7368D8',
          'rgb':  '115 104 216'
        }
      ]
    },
    {
      name: 'ui',
      swatches: [
        {
          'name': 'Sonic Silver',
          'hex':  '#75797B',
          'rgb':  '117 121 123'
        },
        {
          'name': 'Quick Silver',
          'hex':  '#A3A6A7',
          'rgb':  '163 166 167'
        },
        {
          'name': 'Light Gray',
          'hex':  '#D1D2D3',
          'rgb':  '209 210 211'
        },
        {
          'name': 'Isabelline',
          'hex':  '#EDEDED',
          'rgb':  '237 237 237'
        },
        {
          'name': 'White Smoke',
          'hex':  '#F6F6F6',
          'rgb':  '246 246 246'
        },
        {
          'name': 'White',
          'hex':  '#FFFFFF',
          'rgb':  '255 255 255'
        }
      ]
    }
  ]
%}

<section class="section colors">
  <h5 class="header h5">Colors</h5>

  {% for color in colors %}
    <h6 class="title h6 is-regular {{ 'is-uppercase' if color.name == 'ui' else 'is-capitalize' }}">{{ color.name }}</h6>

    <ul class="swatches">
      {% for swatch in color.swatches %}
        <li class="swatch">
          <div class="background {{ color.name + '-' + loop.index }}-background-color">
            {% if color.name != 'ui' %}
              <div class="shade-10"></div>
              <div class="shade-30"></div>
              <div class="shade-50"></div>
            {% endif %}
          </div>

          <ul class="details small-text ui-3-color">
            <li class="detail is-capitalize">
              <strong class="caption is-semibold core-3-color {{ 'is-uppercase' if color.name == 'ui' }}">{{ color.name + ' ' + loop.index }}</strong>
              <span>{{ swatch.name }}</span>
            </li>
            <li class="detail">
              <span class="is-uppercase">hex</span>
              <span>{{ swatch.hex }}</span>
            </li>
            <li class="detail">
              <span class="is-uppercase">rgb</span>
              <span>{{ swatch.rgb }}</span>
            </li>
          </ul>
        </li>
      {% endfor %}
    </ul>

  {% endfor %}
</section>
