{%
  set colours = [
    {
      'name': 'colour',
      'children': ['core', 'support']
    },
    {
      'name': 'typography',
      'children': ['headings', 'text']
    },
    {
      'name': 'forms',
      'children': ['buttons', 'inputs', 'selectors']
    }
  ]
%}

<section class="section colours">
  <h4 class="header h4 is-display">Colour</h4>
  <h1 class="title h1">Palettes</h1>
  <h2 class="sub-title h2">Core</h2>
</section>
