{%
  set colors = [
    {
      'name': 'colour',
      'children': ['core', 'support']
    },
    {
      'name': 'typography',
      'children': ['headings', 'text']
    },
    {
      'name': 'forms',
      'children': ['buttons', 'inputs', 'selectors']
    }
  ]
%}

<section class="section colors">
  <h4 class="header h5">Colors</h4>
  <h1 class="title h6 is-regular">Core</h1>
</section>
