<!doctype html>
<html class="no-js" lang=""><head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Kit</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/style.css" media="all" />

</head><body class="grid container">

  <section class="page row">
    {% include "aside.njk" %}

    <main class="main ten column">
      {% include "colors.njk" %}
      {% include "layout.njk" %}
    </main>
  </section>

</body></html>
