<!doctype html>
<html class="no-js" lang=""><head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Kit</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/style.css" media="all" />

</head><body>

  <section class="grid container">
    <section class="page row">
      {% include "aside.njk" %}

      <main class="main xsmall-12 medium-9 column">
        {% include "colors.njk" %}
        {% include "typography.njk" %}
        {% include "layout.njk" %}
      </main>
    </section>
  </section>

</body></html>
