<!doctype html>
<html><head>

  <meta charset="utf-8" />
  <title>Kit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="../styles/index.sass" media="all" />

</head><body>

  <section class="container">
    {% include "buttons.njk" %}
    <section class="row">
      {# {% include "layout.njk" %} #}
    </section>
  </section>

</body></html>
