{%
  set layout = [
    [
      [ 'one', 1 ], [ 'one',  1 ], [ 'one',  1 ], [ 'one',  1 ], [ 'one',  1 ], [ 'one', 1 ],
      [ 'one', 1 ], [ 'one',  1 ], [ 'one',  1 ], [ 'one',  1 ], [ 'one',  1 ], [ 'one', 1 ]
    ],
    [
      [ 'two', 2 ], [ 'two',  2 ], [ 'two',  2 ], [ 'two',  2 ], [ 'two',  2 ], [ 'two', 2 ]
    ],
    [
      [ 'three', 3 ], [ 'three', 3 ], [ 'three', 3 ], [ 'three', 3 ]
    ],
    [
      [ 'four', 4 ], [ 'four', 4 ], [ 'four', 4 ]
    ],
    [
      [ 'five', 5 ], [ 'five', 5 ], [ 'two', 2 ]
    ],
    [
      [ 'six', 6 ], [ 'six', 6 ]
    ],
    [
      [ 'seven', 7 ], [ 'five', 5 ]
    ],
    [
      [ 'eight', 8 ], [ 'four', 4 ]
    ],
    [
      [ 'nine', 9 ], [ 'three', 3 ]
    ],
    [
      [ 'ten', 10 ], [ 'two',  2 ]
    ],
    [
      [ 'eleven', 11 ], [ 'one', 1 ]
    ],
    [
      [ 'twelve', 12 ]
    ]
  ]
%}

<section class="section layout grid">
  <header class="row">
    <h5 class="header h5 twelve column">Layout</h5>
  </header>

  <section class="grid row">
    {% for row in layout %}
      <div class="row">
        {% for column in row %}
          <div class="{{ column[0] }} column">
            <div class="component">{{ column[1] }}</div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </section>

</section>
