<section class="section typography">
  <header class="row">
    <h5 class="header h5 twelve column">Type</h5>
  </header>

  <header class="row">
    <h6 class="title h6 is-regular twelve column">Typeface</h6>
  </header>

  <section class="row">
    <div class="small-12 medium-5 column">
      <div class="fontype is-semibold is-rounded">
        <span class="example">Aa</span>
        <strong class="name">IBM Plex Sans</strong>
      </div>
    </div>
  </section>

  <header class="row">
    <h6 class="title h6 is-regular twelve column">Headings</h6>
  </header>

  <section class="row">
    <div class="small-12 medium-8 column">
      <div class="row">
        {% for index in range( 1, 7 ) %}
          <div class="small-12 medium-6 column">
            <h{{index}} class="h{{index}} is-semibold">AaBbCcDd</h{{index}}>
            <h{{index}} class="h{{index}} is-regular">AaBbCcDd</h{{index}}>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

</section>
