$white: #FFF;
$black: #252525;

$red: #EB0028;
$red-shade: darken( $red, 0.2 );

$blue: #3095E3;
$blue-shade: darken( $blue, 0.2 );

$green: #6EBA30;
$green-shade: darken( $green, 0.2 );

$yellow: #FFAE00;
$yellow-shade: darken( $yellow, 0.2 );

$ui-1: #4E4E4E;
$ui-2: #747474;
$ui-3: #A4A4A4;
$ui-4: #D4D4D4;
$ui-5: #EBEBEB;
$ui-6: #F5F5F5;
$ui-7: #FAFAFA;


$primary-1: $red;
$primary-shade-1: $red-shade;
$primary-2: $black;
$primary-3: $white;

$support-1: $blue;
$support-shade-1: $blue-shade;
$support-2: $green;
$support-shade-2: $green-shade;
$support-3: $yellow;
$support-shade-3: $yellow-shade;

$colours: ();
