.main {
  padding-top: 120px;

  .section { padding-bottom: 120px; }

  .colors {
    .background {
      border-radius: $border-radius;
      height: 60px;
      margin-bottom: 10px;

      [class^="shade-"] {
        background-color: get-color('black');
        // height: inherit;

        &:last-child { border-radius: 0 $border-radius $border-radius 0; }
      }

      .shade-10 { opacity: 0.1; }
      .shade-30 { opacity: 0.3; }
      .shade-50 { opacity: 0.5; }

      &.ui-6-background-color {
        border: 2px solid get-color( 'black', 0.1 );
      }
    }

    .detail {
      .swatch-name { line-height: 25px; }
      &:first-child { margin-bottom: 5px; }
    }
  }

  .layout .grid {
    .row {
      border: 2px dashed get-color('may-green');
    }

    .column {
      border: 2px dashed get-color('usc-gold');
    }

    .component {
      background-color: get-color('pacific-blue');
      border-radius: $border-radius;
      color: get-color('white');
      text-align: center;
      padding: 5px 0;
    }
  }
}
