@import "src/index";

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}


.layout.twelve.column {
  .row {
    border: 2px dashed green;
  }

  .column {
    border: 2px dashed gold;
  }

  .component {
    background-color: blue;
    border-radius: $border-radius;
    color: white;
    text-align: center;
    padding: 5px 0;
  }
}
