// Credit to:
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php

.video-wrap {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
}

.video-wrap > * {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
