@mixin button-varient($varient: null, $color: null) {
  @if not index($button-varients, $varient) {
    @error "Sorry button '#{$varient}' varient doesn't exists.";
  }

  @if $varient == 'primary' {
    $color: palette($color);
    color: palette('white');
  }
  @else {
    color: palette('black');
  }

  @if $varient == 'secondary' {
    $color: palette('black', 100);
  }
  @else if $varient == 'tertiary' {
    $color: palette('white');
  }

  background-color: $color;
  border: 2px solid $color;

  &:hover {
    background-color: shade($color, 15);
    border: 2px solid shade($color, 15);
  }

  &:active, &.current {
    background-color: shade($color, 20);
    border: 2px solid shade($color, 20);
    box-shadow: inset 0 0 4px shade($color, 10);
  }

  &:focus {
    border-color: shade($color, 30);
  }

  // &[disabled], &[aria-disabled="true"] {}
}
