@import 'true';
@import '../_index';

@include describe('Test colors functionality') {
  @include test('Return HEX color of green') {
    @include assert-equal(
      palette('green'),
      #2da42c
    );
  }

  @include test('Return HEX color of action') {
    @include assert-equal(
      palette('action'),
      #3477ff
    );
  }

  @include test('Return HEX color of yellow with variant') {
    @include assert-equal(
      palette('yellow', 100),
      #fff7db
    );
  }

  @include test('Return HEX color of white with variant') {
    @include assert-equal(
      palette('white', 100),
      #242424
    );
  }

  @include test('Return RGBA color of purple with variant') {
    @include assert-equal(
      palette('purple', 200, true),
      rgba(128, 46, 251, 0.28)
    );
  }

  @include test('Return color param with red HEX value') {
    @include assert {
      @include output {
        @include color('red');
      }

      @include expect {
        color: #ef3360;
      }
    }
  }

  @include test('Return color param with red RGBA value with variant') {
    @include assert {
      @include output {
        @include color('red', 300);
      }

      @include expect {
        color: #f8a9bc;
      }
    }
  }

  @include test('Return background color param with red HEX value') {
    @include assert {
      @include output {
        @include background-color('red');
      }

      @include expect {
        background-color: #ef3360;
      }
    }
  }
}
