$green-color:  #2da42c !default;
$blue-color:   #3477ff !default;
$purple-color: #802efb !default;
$red-color:    #ef3360 !default;
$yellow-color: #ffc800 !default;
$black-color:  #071417 !default;
$white-color:  #fff    !default;

$brand-color:  $green-color !default;
$action-color: $blue-color  !default;

$color-palette: (
  'green':  $green-color,
  'blue':   $blue-color,
  'purple': $purple-color,
  'red':    $red-color,
  'yellow': $yellow-color,
  'black':  $black-color,
  'white':  $white-color,

  'brand':  $brand-color,
  'action': $action-color
) !default;

$variants-color-alpha: (
  '100': 0.14,
  '200': 0.28,
  '300': 0.42
) !default;

$variants-bw-alpha: (
  '50':  0.7,
  '100': 0.14,
  '150': 0.21,
  '200': 0.28,
  '250': 0.35,
  '300': 0.42
) !default;
