/// @group Colors
/// @type Color
$green-color: #2da42c;

/// @group Colors
/// @type Color
$blue-color: #3477ff;

/// @group Colors
/// @type Color
$purple-color: #802efb;

/// @group Colors
/// @type Color
$red-color: #ef3360;

/// @group Colors
/// @type Color
$yellow-color: #ffc800;

/// @group Colors
/// @type Color
$black-color: #071417;

/// @group Colors
/// @type Color
$white-color: #fff;


/// A map of alpha variants for colors.
/// @group Colors
/// @type Map
$variants-color-alpha: (
  "100": 14,
  "200": 28,
  "300": 42
);

/// A map of alpha variants for black and white colors.
/// @group Colors
/// @type Map
$variants-bw-alpha: (
  "50":  7,
  "100": 14,
  "150": 21,
  "200": 28,
  "250": 35,
  "300": 42
);


/// Brand colors of the Kit.
/// @group Colors
/// @type Color
$brand-color:  $green-color;

/// Action color of the Kit.
/// @group Colors
/// @type Color
$action-color: $blue-color;

/// Primary color of the Kit.
/// @group Colors
/// @type Color
$primary-color: $black-color;

/// Secondary color of the Kit, A mix of black color with alpha.
/// @group Colors
/// @type Color
$secondary-color: mix($black-color, #fff, map-get($variants-bw-alpha, "300"));

/// Background color of the Kit.
/// @group Colors
/// @type Color
$background-color: mix($black-color, #fff, map-get($variants-bw-alpha, "50"));


/// A map of all the colors in the Kit.
/// @group Colors
/// @type Map
$color-palette: (
  "green":      $green-color,
  "blue":       $blue-color,
  "purple":     $purple-color,
  "red":        $red-color,
  "yellow":     $yellow-color,
  "black":      $black-color,
  "white":      $white-color,

  "brand":      $brand-color,
  "action":     $action-color,
  "primary":    $primary-color,
  "secondary":  $secondary-color,
  "background": $background-color
);
