$colors: (
  black:     (default: #071417, 600: #192527, 500: #2A3538, 400: #3C4648, 300: #4C5558, 200: #5E6668, 100: #6F7778),
  blue:      (default: #00A7C7, 600: #24B4CF, 500: #47BFD6, 400: #6BCCDE, 300: #8FD8E7, 200: #B2E4EE, 100: #D6F1F6),
  green:     (default: #4CB944, 600: #65C35E, 500: #7ECC78, 400: #97D692, 300: #B0E0AD, 200: #C9EAC6, 100: #E2F4E1),
  grey:      (default: #9EAEB1, 600: #ACBABC, 500: #B9C4C6, 400: #C7D0D2, 300: #D5DCDD, 200: #E1E6E7, 100: #EFF2F2),
  purple:    (default: #7368D8, 600: #877DDE, 500: #9A92E3, 400: #AEA7E8, 300: #C2BDEE, 200: #D5D1F3, 100: #E8E7F9),
  red:       (default: #EF3360, 600: #F25077, 500: #F36C8C, 400: #F689A3, 300: #F8A5B9, 200: #FAC1CF, 100: #FCDEE5),
  turquoise: (default: #42D9C8, 600: #5DDFD0, 500: #77E3D7, 400: #91E9DF, 300: #ACEEE7, 200: #C6F3EE, 100: #E1F9F6),
  yellow:    (default: #FFC800, 600: #FFD024, 500: #FFD747, 400: #FFDF6B, 300: #FFE78F, 200: #FFEEB2, 100: #FFF6D6)
);


// @each $name, $hex in $colors {
//   .#{$name}-color { color: $hex; }
//   .#{$name}-background-color { background-color: $hex; }
// }


@function get-color( $name, $alpha: 1 ) {
  @if ( map-has-key( $colors, $name ) ) {
    $color: map-get( $colors, $name );
    @return if( $alpha == 1, $color, rgba(  $color, $alpha ) );
  }
  @else {
    @error "Sorry '#{ $name }' color doesn't exists";
  }
}
