html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
* { border: 0; margin: 0; outline: 0; padding: 0; }
ul, ol, dl { list-style-type: none; }
a:hover { text-decoration: none; }

body {
  // Antialiased experimental shit
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // color: $text-color;
  // font-size: $base-text-size;
  // font-family: $base-font-family;
}

.is-none { display: none !important; }
.is-block { display: block !important; }
.is-hidden { opacity: 0; visibility: hidden; }
.is-not-visible { visibility: hidden; }
.is-rounded { border-radius: $border-radius; }

.have-border-radius { border-radius: $border-radius; }
