*, *:before, *:after { box-sizing: inherit; }
* { border: 0; margin: 0; outline: 0; padding: 0; }
ul, ol, dl { list-style-type: none; }

html {
  box-sizing: border-box;
  font-size: $base-rem + px;
}

body {
  // Antialiased experimental shit
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input, select, textarea {
  color: $base-color;
  font-family: $base-font-family;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: $base-link-color;
  &:hover { text-decoration: none; }
}

.is-none { display: none !important; }
.is-block { display: block !important; }
.is-hidden { opacity: 0 !important; visibility: hidden !important; }
.is-not-visible { visibility: hidden; }
.is-round { border-radius: $border-radius; }
