$base-text-size: 16px !default;
$base-font-family: (
  Roboto,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji"
) !default;
$base-rem: $base-text-size !default;
$base-color: #000;
// $base-link-color: ;

$border-radius: 2px !default;
