html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

* {
  border: 0;
  cursor: default;
  margin: 0;
  outline: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-size-adjust: 100%;

  &, &:before, &:after {
    box-sizing: inherit;
  }
}

::selection {
  background: palette('brand', 100);
}

ul, ol, dl {
  margin-left: 20px;
}

body {
  // Antialiased experimental shit
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: palette("background");
}

body, button, input, select, textarea {
  color: palette("primary");
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: 400;
}

button, input, select, textarea {
  cursor: pointer;
}

a {
  @extend %link;
}

img {
  font-size: 0;
  line-height: 0;
}
