html {
  box-sizing: border-box;
  font-size: $base-rem;
}

* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-size-adjust: 100%;

  &, &:before, &:after {
    box-sizing: inherit;
  }
}

ul, ol, dl {
  list-style-type: none;
}

body {
  // Antialiased experimental shit
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: palette("background");
}

body, button, input, select, textarea {
  color: palette("text");
  font-family: $base-font-family;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: palette("action");

  &:hover {
    text-decoration: none;
  }
}
