.is-light    { font-weight: 300 !important; }
.is-regular  { font-weight: 400 !important; }
.is-medium   { font-weight: 500 !important; }
.is-semibold { font-weight: 600 !important; }
.is-bold     { font-weight: 800 !important; }
.is-italic   { font-style: italic !important; }

.is-capitalize { text-transform: capitalize !important; }
.is-lowercase  { text-transform: lowercase !important; }
.is-uppercase  { text-transform: uppercase !important; }

.text-left   { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right !important; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
}

// .h1 {}
// .h2 {}
// .h3 {}
// .h4 {}
// .h5 {}
// .h6 {}
// .paragraph {}
