@import "locals";
@import "mixins/size";
@import "mixins/variant";

@mixin button($variant: 'primary', $size: 'medium', $color: 'action') {
  @extend %px-2;

  @include no-select;
  @include button-variant($variant, $color);
  @include button-size($size);

  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
