.is-aligned-left         { justify-content: flex-start !important; }
.is-aligned-center       { justify-content: center     !important; }
.is-aligned-right        { justify-content: flex-end   !important; }
.is-aligned-items-left   { align-items:     flex-start !important; }
.is-aligned-items-center { align-items:     center     !important; }
.is-aligned-items-right  { align-items:     flex-end   !important; }

.auto-right { margin-right: auto   !important; }
.auto-left  { margin-left:  auto   !important; }
.auto-both  { margin:       0 auto !important; }

.with-full-width {
  max-width: 100% !important;
  width: 100% !important;
}

.with-space-between { justify-content: space-between !important; }
.with-space-around  { justify-content: space-around  !important; }
.without-gutters {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-top: 0;

  & > [class*="column"] {
    padding-left: 0;
    padding-right: 0;
  }
}

@each $space in $space-dimensions {
  @each $char, $scope in $space-scope {
    %#{$char}-#{index($space-dimensions, $space)}  { #{$scope}: $space; }
    %#{$char}t-#{index($space-dimensions, $space)} { #{$scope}-top: $space; }
    %#{$char}r-#{index($space-dimensions, $space)} { #{$scope}-right: $space; }
    %#{$char}b-#{index($space-dimensions, $space)} { #{$scope}-bottom: $space; }
    %#{$char}l-#{index($space-dimensions, $space)} { #{$scope}-left: $space; }

    %#{$char}x-#{index($space-dimensions, $space)} {
      #{$scope}-left: $space;
      #{$scope}-right: $space;
    }

    %#{$char}y-#{index($space-dimensions, $space)} {
      #{$scope}-top: $space;
      #{$scope}-bottom: $space;
    }
  }
}
