.is-aligned-right   { justify-content: flex-end; }
.is-aligned-center  { justify-content: center; }
.with-space-between { justify-content: space-between; }
.with-space-around  { justify-content: space-around; }

.auto-right { margin-right: 0; }
.auto-left  { margin-left: auto }
.auto-both  { margin: 0 auto }
