.is-aligned-right   { justify-content: flex-end !important; }
.is-aligned-center  { justify-content: center !important; }
.with-space-between { justify-content: space-between !important; }
.with-space-around  { justify-content: space-around !important; }

.auto-right { margin-right: auto !important; }
.auto-left  { margin-left: auto !important; }
.auto-both  { margin: 0 auto !important; }
